html
    font-family: Arial
    font-weight: normal
    font-size: 16px
*
    box-sizing: border-box
body
    margin: 0
    padding: 0
h1, h2, h3, h4, h5, h6
    margin: 0
    padding: 0
p
    margin: 0
    padding: 0
a
    margin: 0
    padding: 0
    text-decoration: none
ol, ul, li
    margin: 0
    padding: 0
    list-style-type: none
.container
    margin: 0 auto
    padding: 0 18px
header
    padding-top: 22px
.row
    border-bottom: 1px solid #EAEAEA
    display: flex
    justify-content: space-between
    align-items: center
    padding-bottom: 21px
    margin-left: 22px

.header
    &-list
        display: flex
        &__item
            padding-left: 10px
            padding-right: 10px
            border-right: 1px solid #EAEAEA
        &__item:last-of-type
            border-right: none
        &__link
            font-weight: 900
            color: #A9A9A9
            transition: all 0.5s ease
        &__link:hover
            color: #000000
.user-group
    display: flex
.user-group__search-form, .user-group__basket, .user-group__menu
    border: 1px solid #1f0202
    border-radius: 50%
    margin-right: 20px
    position: relative
    width: 30px
    height: 30px
.user-group__menu_image_burger, .user-group__basket_image_shop, .user-group__search-form_image_glass
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
.user-group__menu
    margin-right: 0
.first-screen
    padding-top: 13px
.cover-studio
    // background: url('../images/header-img.jpg')
    // background-size: cover
    position: relative
    // height: 1084px
    margin-bottom: 5px
    &__image
        object-fit: cover
        width: 100%
    &__block
        max-width: 690px
        width: 100%
        height: 460px
        background-color: #F0715E
        padding-top: 134px
        position: absolute
        left: 0
        bottom: 0
        z-index: 3

        transform: translateY(120%)
        opacity: 0
        transition: all 0.5s ease
        &.active
            transform: translateY(50%)
            opacity: 1
        &-text
            text-align: center
            font-size: 79px
.cover-room
    // background: url('../images/dressroom.png')
    // background-size: contain
    // height: 1053px
    // background-repeat: no-repeat
    position: relative
    margin-bottom: 41px
    z-index: 2
    &__image
        object-fit: cover
        width: 75%
    &__text
        font-size: 18px
        color: #FFFFFF
        position: absolute
        bottom: 3%
        right: 52%
.image-text
    font-size: 18px
    color: #FFFFFF
    position: absolute
    bottom: 3%
    right: 50%
.collection
    position: absolute
    width: 25%

    transform: translateY(120%)
    opacity: 0
    transition: all 0.5s ease

    &.active
        transform: translateY(0)
        opacity: 1
    &__img
        width: 100%
        object-fit: cover
    &__text
        bottom: 0
        font-size: 13px
        position: absolute
        bottom: 10%
        right: 50%
        transform: translateX(50%)
        text-align: center
    &_chair
        top: 0
        right: 0
    &_lamp
        left: 0
        top: 15%
    &_flag
        top: -20%
        right: 25%
    &_armchair
        top: 0
        right: 0
    &_wool-armchair
        right: 50%
        top: 0
    &_chandelier
        right: 0
        transform: translateY(-35%)
    &_sofa
        position: absolute
        bottom: 0
        left: 0
        transform: translateY(5%)
.cover-chair

    position: relative
    &__image
        width: 75%
        object-fit: cover
        display: block
.furniture
    background: #D2CCC0
    text-align: center
    padding-top: 158px
    padding-bottom: 158px
    &__title
        font-size: 79px
        max-width: 770px
        margin: 0 auto

        transform: translateY(120%)
        opacity: 0
        transition: all 0.5s ease
        &.active
            transform: translateY(0)
            opacity: 1
.cover-wood
    position: relative
    z-index: 3

    transform: translateY(120%)
    opacity: 0
    transition: all 0.5s ease
    &__image
        object-fit: cover
        width: 100%
        display: block
    &__text
        position: absolute
        bottom: 3%
        right: 50%
        transform: translateX(50%)
.street-cover
    position: relative
    overflow: hidden
    padding-bottom: 229px
    &__image
        float: right
        width: 75%
        object-fit: cover
    &__text
        bottom: 17% !important      

.cover-sofa
    padding-bottom: 204px
.cover-sofa
    position: relative
    &__block
        overflow: hidden
        max-height: 1700px
        height: 100%
        width: 75%
        position: relative
        &-image
            position: relative
            bottom: 0
            transform: translate(0, -9%)
            width: 100%
            max-width: 1400px
    &__text
        transform: translateX(50%)
        bottom: 5%

.sofa
    
.model-sofa__text
    color: #ffffff            
.footer
    &__title
        font-size: 30px
        color: #444444
        font-weight: 700
        max-width: 485px
        margin-bottom: 36px
    &-par
        text-decoration-line: underline
        font-size: 14px
        font-weight: 700
        margin-bottom: 20px
    &-contact
        color: #000
        font-size: 29px
        font-weight: 700
        margin-bottom: 15px
    &-link
        color: #000
        font-size: 14px
        font-weight: 700
    &-row
        border-top: 1px solid #EAEAEA
        display: flex
        padding-top: 43px
        padding-bottom: 73px
    &-column
        display: flex
        flex-direction: column
        flex-grow: 1
        &__text
            font-size: 14px
            color: #000
            font-weight: 700
            margin-bottom: 20px
        &__location
            font-weight: 400
            color: #000
            font-size: 14px
            &>span
                color: #AAAAAA
.swiper
    width: 100%
    height: 1467px
    


